name: Test

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
    release:
        types:
            - created
jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python 3.7.11
              uses: actions/setup-python@v2
              with:
                  python-version: 3.7.11
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install .[html_parser]
                  python -m pip install -r requirements-dev.txt
            - name: Test
              run: |
                  python -m pytest tests/test_get_dataloaders.py
                  python -m pytest tests/test_metadata_utils.py
                  python -m pytest tests/test_preprocessing_utils.py
                  python -m pytest tests/preprocessing_tools
